<link rel='stylesheet' href='/stylesheets/autos.css' />
<body>
<div class="row">

    {{#each autos}}
    <div class="col-md-3">
        <div class="card"  >
            <div class="card-body" >
                <h4 class="card-title" >
                    <form action="/autos/editar/{{_id}}">
                    <button class="btn btn-primary btn-block btn-sm" type="submit">Editar</button></form>
                    <form action="/autos/eliminar/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">Eliminar</button></form>
                     Marca:{{marca}}
                    

                
                </h4>
                <p>Modelo:  {{modelo}}</p>
                <p>Transmision: {{transmision}}</p>
                <p>Color:  {{color}}</p>
                <p>Precio:  {{precio}}</p>
            </div>
        </div>
    </div>
{{else}}
<card class="mx-auto">
    <div class="card-body">
        <p class="lead">NO hay registros</p>
        <a href="/autos/add" class="btn btn-success btn-block">Crear Registro</a>
    </div>
</card>

    {{/each}}
</div>    
</body>
